.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.logo-container .app-name {
    font-size: 24px;
    font-weight: bold;
}

.nav-container {
    display: flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    background: transparent; /* Transparent background */
    font-family: inherit;
}

.nav-link:hover {
    color: #007bff;
}

.nav-link:focus {
    outline: none;
}
